#root {
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 0%;
	padding: 2rem;

}

.header {
	display: flex;
	position: absolute;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: rgb(126, 0, 11);
	color: aliceblue;
	padding: 0px 20px;
	flex-direction: row;
	justify-content: left;
	line-height: 0.1em;
	align-items: center;
	


}

.header_text {
	margin-left: 2em;
}

.logo_caurteto {
	width: 20vh;

}

.tag-options {
	margin-top: 10vh;
}

.tags {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tag {

	border: #888 solid 2px;
	border-radius: 10%;
	width: fit-content;
	padding: 10px 30px;
}

.tag:hover {
	border: #888 solid;
	border-radius: 10%;
	background-color: aliceblue;
	color: #FF0000;
	padding: 10px 30px;
	font-weight: bold;
}

.info-text {
	margin-top: 10vh;
	width: 30vw;
}

.logo_container {
	width: 60vh;
	display: flex;
	margin-top: 2vh;


	justify-content: right;
}



@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.song {
	border-radius: 10px;
	margin: 1%;
	padding: 2%;
	width: 27%;
	margin-right: 2px;
	margin-bottom: 5px;
	max-height: 70vh;
	overflow-y: scroll;
	text-align: center;
	line-height: 0.5em;
	;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}


html {
	overflow: scroll;
	overflow-x: hidden;
	margin-left: 15vb

}

::-webkit-scrollbar {
	width: 0;
	/* Remove scrollbar space */
	background: transparent;
	/* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #FF0000;
}



.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;


}